body{
    background-color:gray;
}
.container{
    background-color: white;
    width: 400px;
    height: 800px;
    border: none;
    shape-outside: margin-box;
    border-radius: 32px;
    text-align: center;
    margin:4% auto 0;
}
.login h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    text-align: center;
}
.login p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: -4%;
}
.wrapper{
    margin-top: 100px;
}

.emaildiv label{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color:black;
}
.emaildiv input{
    margin-left: 10px;
   
    border-radius: 4px;
    padding: 12px;
}
.passdiv input{
    margin-left: 2px;
    margin-bottom: 40px;
    padding: 12px;
}
 /* .buttons a{
    background-color: rgb(38, 38, 43);
    color: wheat;
    padding: 12px 48px;
    
} */
.buttons a{
    color:rgb(209, 103, 103);
    padding: 12px 38px;
    background-color: rgb(0, 9, 128);
    border-radius: 8px;
    text-decoration: none;
    margin-right: 10px;
    display: inline-block;
    transition: 300ms;

}

.buttons a:hover{
    transform: translateY(-8px);
}
/* fp{
    color:white;
    padding: 14.5px 38px;
    background-color: green;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
} */
